<h1>Flopbuster</h1>

<div class="jumbotron d-flex m-1 mb-4">
  <div class="p-2 col-6">
    We have all the best flops in the business!
    <br />
    Choose a flop to rent
  </div>

  <div class="card p-2 col-6">
    <!--Exercise:
      Make this a component
      send in the data for # of movies rented, and list of titles
      BONUS: hook up the rent buttons below
     -->
    <rental-card
      [numRented]="4"
      [listRented]="[
        'Cats',
        ' Howard the Duck',
        ' Jack and Jill',
        ' Batman and Robin'
      ]"
    ></rental-card>
  </div>
</div>

<app-movie-tile [movie]="wingCommander"></app-movie-tile>

<app-movie-tile [movie]="theRoom"></app-movie-tile>
